.Background {
  background-image: url('./Photos/BackgroundImage.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  width: 200vh;
  text-align: center;
  background-color: #16394c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.mainWindow{
    
    position: absolute;
    border-radius: 10px;
    border: 4px solid #608094;
    background: #16394c;
  height: 600px;
  width: 900px;
   
}
.middlePortion{
  margin-top: 100px;
  display: block;
  width: 1200px;
}
.location{
  margin-top: 100px;
}
.left{
  float: left;
  width: 150px;
}
.centre{
  float: left;
  min-width: 400px;
}
.right{
  float: left;
  width: 400px;
}
.endPosition{
  margin-top: 200px;
  display: block;
}
.whetherDis{
  font-size: small;
}
.img1{
  float: left;
  width: 100px;
}
.img2{
  float: left;
  width: 100px;
}

.img3{
  float: left;
  width: 100px;
}
.img4{
  float: left;
  width: 100px;
}
.img5{
  float: left;
  width: 100px;
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
